<div class="m-2 p-0">
        <h1>Frequency's</h1>
        <span style="font-size: 16px;">Bekijk hieronder het complete overzicht van alle frequency's waar NPO Radio 2 op te vinden is</span>
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-secondary">
            Featured
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-primary">Friesland 88.0 en   92.9 MHz</li>    
            <li class="list-group-item bg-primary">Groningen 88.0 MHz</li>
            <li class="list-group-item bg-primary">Overijssel 88.0 en 104.6 MHz</li>
            <li class="list-group-item bg-primary">Flevoland 88.0 en 92.6 MHz</li>
            <li class="list-group-item bg-primary">Utrecht 92.6 MHz</li>
            <li class="list-group-item bg-primary">Noord-Holland 92.6 en 92.9 MHz</li>
            <li class="list-group-item bg-primary">Zeeland 92.6 en 97.8 MHz</li>
            <li class="list-group-item bg-primary">Noord-Brabant 88.2 en 92.6 MHz</li>
            <li class="list-group-item bg-primary">Limburg 88.2, 93.4 en 97.2 MHz</li>
        </ul>
    </div>
</div>
