<div class="px-3">
    <h1>Volg ons!</h1>
    <p>Volg NPO Radio 2 op deze kanalen om up to date te blijven.</p>

    <h3>Socials</h3>
    <ul>
        <li><a class="text-info" target="_blank" href="https://www.facebook.com/NPORadio2/?locale=nl_NL">Facebook</a></li>
        <li><a class="text-info" target="_blank" href="https://twitter.com/NPORadio2">Twitter</a></li>
        <li><a class="text-danger" target="_blank" href="https://www.instagram.com/nporadio2/?hl=nl">Instagram</a></li>
        <li><a class="text-primary" target="_blank" href="https://www.youtube.com/user/Radio2nl">Youtube</a></li>
        <li><a class="text-success" target="_blank" href="https://open.spotify.com/user/radio2nl">Spotify</a></li>
    </ul>

    <h4><a target="_blank" href="https://play.google.com/store/apps/details?id=nl.omroep.npo.radio2&hl=nl&gl=US&pli=1">Download de NPO Radio 2 app!</a></h4>
</div>


<style>
    p {
        margin: 0;
    }
</style>